$padding: 0.5em;



.m-filters {

	.filter-item {
		margin-bottom: 0;
	}

	.row {
		margin: 0;
		padding: 0;
	}

	.tooltip {
		width: calc(100% + 4em);
	}


	select {
		height: 2em;
		margin-bottom: $padding;
	}

	input {
		height: 2em;
	}

	h4 {
		margin-top: 0;
		padding: $padding / 2;
		background-color: #d9edf7;
	}

	hr {
		margin-top: $padding;
		margin-bottom: $padding;
	}
}

