$padding: 0.5em;



body {
  background-color: rgb(245, 248, 250);
}



.l-body {
  padding: $padding;
  max-width: 90em;
  width: 100%;
  position: relative;
  margin: auto;
  text-align: center;
}



.l-left {
	margin-right: $padding;
  width: 18em;
  float: left;

  .submitBtn {
    width: 100%;
    margin: 0;
  }
}



.l-right {
	width: auto;
  overflow: hidden;
}



.accordion {
  width: 100%;
  margin-top: $padding;
  float: left;

  .panel-body {
    padding: 0;
  }
}



